/*-------------------------------------
|                                     |
|  Project : X3                       |
|  Version : 1.2.2                    |
|  Author  : Mark Dijkstra            |
|                                     |
-------------------------------------*/

$x3_unit : 5px;

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;

$enable-grid-classes : true !default;

$grid-breakpoints : (
        xs : 0,
        sm : 576px,
        md : 768px,
        lg : 992px,
        xl : 1200px
) !default;

$container-max-widths : (
        sm : 540px,
        md : 720px,
        lg : 960px,
        xl : 1140px
) !default;

$grid-columns      : 12 !default;
$grid-gutter-width : 30px !default;

$borderradius-min : 3;
$borderradius-max : 25;

$fontsize-min : 10;
$fontsize-max : 24;
