/*-------------------------------------
|                                     |
|  Project : X3                       |
|  Version : 1.2.2                    |
|  Author  : Mark Dijkstra            |
|                                     |
-------------------------------------*/

.x3_list--{

    &none{

        list-style : none;
        padding    : 0;
        margin     : 0;

    }

}
