/*-------------------------------------
|                                     |
|  Project : X3                       |
|  Version : 1.2.2                    |
|  Author  : Mark Dijkstra            |
|                                     |
-------------------------------------*/

.x3_float--{

    &left{
        float : left!important;
    }

    &right{
        float : right!important;
    }

}

.x3_position--{

    &relative{
     
        position : relative;

    }

}
