/*-------------------------------------
|                                     |
|  Project : X3                       |
|  Version : 1.2.2                    |
|  Author  : Mark Dijkstra            |
|                                     |
-------------------------------------*/

.x3_text--{

    &capitalize,
    &uppercase{
        text-transform : uppercase!important;
    }

    &bold{
       font-family : "OpenSansBold"!important;
       font-weight : bold!important;
    }

    &italic{
        font-style : italic!important;
    }

    &underline{
        text-decoration : underline!important;
    }

    &right{
        text-align : right!important;
    }

    &left{
        text-align : left!important;
    }

    &center{
        text-align : center!important;
    }

    &faded{
        opacity : 0.5;
    }

}

.x3_fontsize{

    @for $i from $fontsize-min through $fontsize-max {

        &--#{$i} {

            font-size : #{$i}px!important;

        }

    }


}
