/*

-------------------------------------

Project     : X3
Filename    : components/_forms.scss
Version     : 1.0
Author      : Mark Dijkstra
Last change : --/--/----

-------------------------------------

*/

label{
    position : relative;
}

[readonly]{
   background-color : #dddddd;
}

.x3_form__{

    &select,
    &textarea,
    &field{

        border           : 1px solid #cccccc;
        background-color : #ffffff;
        padding          : 8px 15px;
        margin           : 0;
        border-radius    : 4px;
        display          : block;
        width            : 100%;
        color            : #000;

        &[readonly]{

           background-color : #dddddd;

        }

        &--error,
        &.field--error{

            border-color : red;
            color        : red;

        }

    }

    &field--xl{

        padding : 11px 15px;

    }

    &textarea{

        height : 120px;

    }

    &select{

        height: 40px!important;

    }

    &group{

        margin-bottom : 20px;

        label{
            font-weight   : bold;
            margin-bottom : 10px;
            display       : inline-block;
            clear         : both;
        }

    }

}

.x3_number__field{

   position : relative;

   [data-stepper]{

       height           : 20px;
       width            : 20px;
       background-color : #eee;
       position         : absolute;
       top              : 0;
       right            : 0;
       line-height      : 20px;
       font-size        : 11px;
       border           : 1px solid #cccccc;
       cursor           : pointer;
       text-align       : center;
       border-radius    : 0 4px 0 0;

   }

   [data-stepper=down]{
       top : 20px;
       border-radius : 0 0 4px 0;
   }

   input[type=number]::-webkit-inner-spin-button,
   input[type=number]::-webkit-outer-spin-button {
       -webkit-appearance : none;
       margin             : 0;
    }

    input[type="number"] {
        -moz-appearance : textfield;
    }

}

.x3_field__checkbox{

    position     : relative;
    cursor       : pointer;
    padding-left : 30px;

    [type=checkbox] {

        display : none;

        & + span:before{

            content            : '✔';
            position           : absolute;
            text-align         : center;
            top                : -2px;
            left               : -2px;
            line-height        : 18px;
            font-size          : 12px;
            width              : 18px;
            height             : 18px;
            -webkit-transition : all .2s ease-in-out;
            transition         : all .2s ease-in-out;
            -webkit-transform  : scale(0);
            transform          : scale(0);
            font-weight        : bold;

        }

        & + span{

            position         : absolute;
            left             : 0;
            top              : 3px;
            z-index          : 1;
            border           : 2px solid #333;
            width            : 18px;
            height           : 18px;
            background-color : #fff;

        }

        &:checked+span:before{

            -webkit-transform: scale(1);
            transform: scale(1);

        }

    }

    &--reversed{

        padding-left  : 0;
        padding-right : 30px;

        [type=checkbox] {

            & + span{

                left  : auto;
                right : 0;

            }

        }

    }

}

