/*

-------------------------------------

Project     : X3
Filename    : themeing/_colors.scss
Version     : 1.0
Author      : Mark Dijkstra
Last change : --/--/----

-------------------------------------

*/

// Colorset @ https://flatuicolors.com/palette/se

$x3-color--primary   : $theme-primary;
$x3_color--secondary : $theme-secondary;

$x3-color--succes    : $theme-notification-succes;
$x3-color--danger    : $theme-notification-danger;
$x3-color--info      : $theme-notification-info;
$x3-color--alert     : $theme-notification-alert;

.colorset--,
.x3-colorset--{

    &alert{
        border           : 1px solid $x3-color--alert!important;
        background-color : $x3-color--alert!important;
        color            : #333!important;
    }

    &danger{
        border           : 1px solid $x3-color--danger!important;
        background-color : $x3-color--danger!important;
        color            : #fff!important;
    }

    &info{
        border           : 1px solid $x3-color--info!important;
        background-color : $x3-color--info!important;
        color            : #fff!important;
    }

    &succes{
        border           : 1px solid $x3-color--succes!important;
        background-color : $x3-color--succes!important;
        color            : #fff!important;
    }

    &white{
        border           : 1px solid #ddd!important;
        background-color : #fff!important;
        color            : #333!important;
    }

    &grey{
        border           : 1px solid #bdc3c7!important;
        background-color : #ecf0f1!important;
        color            : #333!important;
    }

    &darkgrey{
        border           : 1px solid #999!important;
        background-color : #999!important;
        color            : #fff!important;
    }

    &primary{
        border           : 1px solid $x3-color--primary!important;
        background-color : $x3-color--primary!important;
        color            : #fff!important;
    }

    &secondary{
        border           : 1px solid $x3-color--secondary!important;
        background-color : $x3-color--secondary!important;
        color            : #fff!important;
    }

    &cta{
        border           : 1px solid #FD5B03!important;
        background-color : #FD5B03!important;
        color            : #fff!important;
    }

    &outline{
        border           : 1px solid #ccc!important;
        background-color : #fff!important;
        color            : #333!important;
    }

}


//.x3_textcolor--,
//.x3_text__color--{
//
//    &red {
//        color: $x3-color--danger !important;
//    }
//
//    &primary {
//        color: $x3-color--primary !important;
//    }
//
//}