/*-------------------------------------
|                                     |
|  Project : X3                       |
|  Version : 1.2.2                    |
|  Author  : Mark Dijkstra            |
|                                     |
-------------------------------------*/

// Colorset @ https://flatuicolors.com/palette/nl

$x3_color--primary   : #222222;
$x3_color--secondary : #cccccc;

$x3_color--succes    : #009432;
$x3_color--danger    : #EA2027;
$x3_color--info      : #1289A7;
$x3_color--alert     : #FFC312;

$x3_color--cta       : #EE5A24;

$x3_color--border    : #cccccc;
$x3_color--text      : #333333;

$x3_color--white     : #ffffff;
$x3_color--darkgrey  : #999999;
$x3_color--grey      : #cccccc;

.colorset--,
.x3_colorset--{

    &alert{
        border           : 1px solid $x3_color--alert!important;
        background-color : $x3_color--alert!important;
        color            : $x3_color--text!important;
    }

    &danger{
        border           : 1px solid $x3_color--danger!important;
        background-color : $x3_color--danger!important;
        color            : $x3_color--white!important;
    }

    &info{
        border           : 1px solid $x3_color--info!important;
        background-color : $x3_color--info!important;
        color            : $x3_color--white!important;
    }

    &succes{
        border           : 1px solid $x3_color--succes!important;
        background-color : $x3_color--succes!important;
        color            : $x3_color--white!important;
    }

    &white{
        border           : 1px solid $x3_color--border!important;
        background-color : $x3_color--text!important;
        color            : $x3_color--text!important;
    }

    &grey{
        border           : 1px solid $x3_color--grey!important;
        background-color : $x3_color--grey!important;
        color            : $x3_color--text!important;
    }

    &darkgrey{
        border           : 1px solid $x3_color--darkgrey!important;
        background-color : $x3_color--darkgrey!important;
        color            : $x3_color--white!important;
    }

    &primary{
        border           : 1px solid $x3_color--primary!important;
        background-color : $x3_color--primary!important;
        color            : $x3_color--white!important;
    }

    &secondary{
        border           : 1px solid $x3_color--secondary!important;
        background-color : $x3_color--secondary!important;
        color            : $x3_color--white!important;
    }

    &cta{
        border           : 1px solid $x3_color--cta!important;
        background-color : $x3_color--cta!important;
        color            : $x3_color--white!important;
    }

    &outline{
        border           : 1px solid $x3_color--border!important;
        background-color : $x3_color--white!important;
        color            : $x3_color--text!important;
    }

}